
.action-button {
    height: fit-content;

    padding: 5px 10px;
    background: var(--primary);
    border-radius: 15px;

    font-weight: 500;
    font-size: 0.9rem;
    color: var(--primary-invert);
}

.action-button:hover {
    background: var(--primary-invert);
    color: var(--primary);

    cursor: pointer;
}

.action-subtile-button {
    height: fit-content;

    padding: 5px 10px;
    background: var(--primary-invert);
    border-radius: 15px;

    font-weight: 500;
    font-size: 0.9rem;
    color: var(--primary);
}


.action-subtile-button:hover {
    background: var(--primary);
    color: var(--primary-invert);

    cursor: pointer;
}

.primary-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-invert);
    color: var(--primary);
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.primary-upload:hover {
    background-color:var(--primary) ; 
    color: var(--primary-invert);
}

.primary-upload input[type='file'] {
    display: none;
}

.upload-file-wrapper {
    padding: 80px;
    width: 100%;
    height: 300px;
    background-color: #F4F4F4;

    border-width: 1px;
    border-style: dashed;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}