
.action-button {
    height: fit-content;

    padding: 5px 10px;
    background: var(--primary);
    border-radius: 15px;

    font-weight: 500;
    font-size: 0.9rem;
    color: var(--secondary);
}

.action-button:hover {
    background: var(--primary-invert);
    color: var(--primary);

    cursor: pointer;
}

.action-subtile-button {
    height: fit-content;

    padding: 5px 10px;
    background: var(--primary-invert);
    border-radius: 15px;

    font-weight: 500;
    font-size: 0.9rem;
    color: var(--primary);
}


.action-subtile-button:hover {
    background: var(--primary);
    color: var(--secondary);

    cursor: pointer;
}

.primpary-upload {

}