.code-editor-container {
    display: flex;
  }
  
  .line-number-container {
    width: 3rem;
    padding-right: 1rem;
    border-right: 1px solid #ccc;
    color: #777;
    font-size: 12px;
    line-height: 1.5;
    user-select: none;
  }
  
  .line-number {
    padding: 0.25rem;
  }
  